@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 235 85.6% 64.7%; /* Discord Blurple */
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 10% 4%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-white/10;
  }
  body {
    @apply bg-[#0F1012] text-white font-sans antialiased;
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}